@charset "utf-8";
/* CSS Document */

* {
	color: #F2F2F2;
}

body {
	background-color: #4F504F;
}

#content {
	width: 1000px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 100px;
}

#content a:hover {
	opacity: 0.8;
	color: #D2D904;
}

#content h2 {
	text-align: center;
	letter-spacing: 0.2rem;
	margin-bottom: 50px;
}
#content dl{
	display: flex;
	flex-wrap: wrap;
}
#content dl dt {
	width: 20%;
	text-align: center;
	border-right: 1px solid #F2A413;
	padding: 20px 50px;
}
#content dl dd {
	width: 70%;
	padding: 20px 50px;
	
}

#content dl a {
	border-bottom: 1ps solid #F2CB05;
}

#navi {
	background-color: #F2CB05;
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	width: 100%;
	height: 80px;
	bottom: 0px;
	
	position: fixed;
	z-index: 10;
}

.fadeIn {
	transition: all 3s ease;
}

#navi .nav-menu {
	display: flex;
	line-height: 80px;
	
}
#navi .nav-menu li {
	margin-right: 40px;
}
#navi .nav-menu li:last-child {
	margin-right: 0;
}

#navi .nav-menu li a {
	color: #F2F2F2;
}

#navi .cv {
	background-color: #04BF68;
	width: 150px;
	height: 50px;
	border-radius: 15px;
	margin: 15px 0;
	line-height: 50px;
	text-align: center;
}

.designs {
	display: flex;
	justify-content: space-between;
}

.design {
	display: block;
}

.design img {
	margin-bottom: 50px;
}

.pc {
	width: 40%;
}

.tablet {
	width: 30%;
}

.sp {
	width: 10%;

}

#about .me h4,
#about .me p {
	color: #4F504F!important;
}
